:root {
  font-size: 10px;
  --border-radius: 6px;
  --dark-color: rgb(40, 70, 65);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 80vh;
  width: 60vw;
  background-color: var(--dark-color);
  border-radius: var(--border-radius);
  padding: 4rem 8rem;
  gap: 2rem;
}

#add-task-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: var(--border-radius);
}

#task-input {
  flex-grow: 1;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1.6rem;
}

#task-input:focus {
  border: none;
  outline: none;
}

#add-task-btn {
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: rgb(157, 252, 220);
}

#nav-bar {
  display: flex;
  /* gap: 1rem; */
}

.nav-button {
  height: 5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  background-color: var(--border-radius);
  color: rgb(255, 255, 255);
}

/* .nav-button:focus {

} */
