:root {
  font-size: 10px;
  --border-radius: 6px;
  --dark-color: rgb(231, 231, 231);
  --light-color: rgb(240, 240, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: minmax(200px, 0.7fr) 4fr;
  min-height: 100vh;
  min-width: 100vw;
  border-radius: var(--border-radius);
}

#sidebar {
  grid-column: 1 / 2;
  background-color: var(--dark-color);
  padding: 1rem 1rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#main {
  grid-column: 2 / 3;
  background-color: var(--light-color);
}

#filters-div {
  display: flex;
  flex-direction: column;
}

.side-bar-item {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
}

#filters-div button.active-tab {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 var(--light-color);
}

#filters-div .side-bar-item:nth-child(1) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/plus.svg");
}

#filters-div .side-bar-item:nth-child(2) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/view-parallel.svg");
}

#filters-div .side-bar-item:nth-child(3) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/clock-outline.svg");
}

#filters-div .side-bar-item:nth-child(4) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/clock-alert-outline.svg");
}

#filters-div .side-bar-item:nth-child(5) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/calendar-week.svg");
}

#filters-div .side-bar-item:nth-child(6) .sidebar-icons {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-image: url("./icons/calendar-month.svg");
}

#filters-div > button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
}

#popup-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  width: clamp(25rem, 33vw, 40rem);
  z-index: 1000;
}

#dialog,
#dialog-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#dialog-body {
  padding: 0rem 2rem;
}

#dialog > div:first-child {
  background-color: var(--dark-color);
  font-size: 2rem;
  text-align: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 1rem 0rem;
}

#dialog > form > div:last-child {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: flex-end;
}

#dialog div:last-child button {
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  font-weight: bold;
}

#dialog div:last-child button:first-child {
  background-color: rgb(214, 25, 25);
  color: #fff;
}

#dialog div:last-child button:last-child {
  background-color: rgb(19, 77, 19);
  color: hsl(0, 0%, 100%);
}

#dialog input,
#dialog select {
  height: 4rem;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 1rem 1rem;
  font-size: 1.6rem;
}

#dialog input:nth-child(3) {
  height: 15rem;
}

.blurred-background {
  filter: blur(5px);
  pointer-events: none;
}

.todo-item {
  font-size: 1.8rem;
  background-color: rgba(199, 199, 199, 0.8);
  height: 4rem;
  min-height: 4rem;
  border-radius: var(--border-radius);
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 2rem minmax(100px, 5fr) 8ch 2rem 2rem;
  gap: 1rem;
  align-items: center;
}

.edit-btn {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url("./icons/pencil.svg");
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.delete-btn {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url("./icons/delete.svg");
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.task-title {
  overflow: hidden;
}

#main {
  display: flex;
  padding: 6rem 10rem;
  justify-content: center;
}

#todo-list-display {
  flex-grow: 1;
  border-radius: var(--border-radius);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;

}

#ongoing-section,
#completed-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#ongoing-section > div,
#completed-section > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}